*.idea
*.iml
*.ipr
*.iws
*.DS_Store
target
staging
overlays
examples
pom.xml.releaseBackup
release.properties
logs/
.diskspool
*.classpath
*.settings
*.project
*/bin/
catalog/src/test/resources/CatalogSchema.xsd
*/test-output/
beatrix/src/test/resources/killbill-osgi-bundles-test-*-jar-with-dependencies.jar
server/load
