.idea/workspace.xml
.idea/libraries
.idea/kotlinc.xml
*.ipr
*.iws
*.DS_Store
*.bak
*.iml
target
staging
overlays
examples
pom.xml.bak
pom.xml.releaseBackup
release.properties
logs/
.logs
.diskspool
*.classpath
*.settings
*.project
*/bin/
catalog/src/test/resources/CatalogSchema.xsd
*/test-output/
*/src/test/resources/*.jar
server/load
dependency-reduced-pom.xml
dependency-reduced-pom.xml.bak
killbill.h2.db
killbill.lock.db
killbill.trace.db
server/test.db
.idea/dictionaries/
.idea/dbnavigator.xml
