*.idea
*.iml
*.ipr
*.iws
*.DS_Store
target
staging
overlays
examples
pom.xml.bak
pom.xml.releaseBackup
release.properties
logs/
.diskspool
*.classpath
*.settings
*.project
*/bin/
catalog/src/test/resources/CatalogSchema.xsd
*/test-output/
*/src/test/resources/*.jar
server/load
dependency-reduced-pom.xml
dependency-reduced-pom.xml.bak
