Package: [[name]]
Version: [[version]]
Source: killbill
Section: java
Priority: extra
Maintainer: Pierre-Alexandre Meyer <pierre@kill-bill.org>
Build-Depends: debhelper (>= 8.0.0), default-jdk (>= 1:1.6)
Standards-Version: 3.9.2
Homepage: http://kill-bill.org
Vcs-Git: https://github.com/killbill/killbill.git
Vcs-Browser: https://github.com/killbill/killbill
Architecture: all
Depends: default-jdk (>= 1:1.6)
Description: Open Billing Platform
 Kill Bill sits at the center of your business. It understands
 your catalog and manages customer purchases and plan changes
 (upgrades, downgrades and cancellations). It knows what plans
 a customer has subscribed to and can provide that information
 to other systems, including your product. It creates invoices
 on a regular basis, triggers payments against your payment
 providers (PayPal, Credit Card Gateway etc.) and can produce
 finance reports and business analytics.
