@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}

h2, h3, section {
    padding-top: 30px;
}

.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron ul {
  list-style: none;
}

.marketing {
  text-align: center;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
