name: sync

on:
  #schedule:
  #  - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    uses: killbill/gh-actions-shared/.github/workflows/sync.yml@main
    secrets:
      CREATE_PULL_REQUEST_SSH_KEY: ${{ secrets.CREATE_PULL_REQUEST_SSH_KEY }}
