name: Sync master into work-for-release-0.23.x

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: work-for-release-0.23.x
          ssh-key: ${{ secrets.CREATE_PULL_REQUEST_SSH_KEY }}
      - name: Setup git user
        env:
          BUILD_USER: ${{ secrets.BUILD_USER }}
          BUILD_TOKEN: ${{ secrets.BUILD_TOKEN }}
        run: |
          git config --global user.email "contact@killbill.io"
          git config --global user.name "Kill Bill core team"
          git config --global url."https://${BUILD_USER}:${BUILD_TOKEN}@github.com/".insteadOf "git@github.com:"
      - name: Merge master branch
        run: |
          git merge origin/master
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: work-for-release-0.23.x-promotion
          title: 'Sync master into work-for-release-0.23.x'
          body: 'Merge latest master into work-for-release-0.23.x'
